body {
    background-color: black;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}

/*all these colours are stolen from insect.christmas*/
p {
  color: chartreuse;
}

h1, h2 {
  color: slateblue;
}

a {
  color: coral;
}

.cyan {
  color: cyan;
}

/*this part is stolen from insect.christmas/styles.css */
video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

/*tables*/
/*links table*/
.linkstable, .linksrow, .musicrow {
  border: 3px solid chartreuse;
  border-collapse: collapse;
}

.linksdata, .musicdata {
  width: 50%;
}

.linkstable {
  width: 100%;
  height: 100%;
}

.musicdata {
  height: 10%;
}

.links {
  width: 12.5%;
  height: 89%;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 6.25%;
}

/*main table*/
.maintable, .headerrow, .contentrow {
  border: 3px solid chartreuse;
  border-collapse: collapse;
}

.maintable {
  width: 100%;
}

.main {
  width: 50%;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 25%;
}

/*sidenav table*/
.sidenavtable, .sidenavrow, .timerow {
  border: 3px solid chartreuse;
  border-collapse: collapse;
}

.sidenavdata, .timedata {
  width: 50%;
}

.sidenavtable {
  width: 100%;
  height: 100%;
}

.timedata {
  height: 10%;
}

.sidenav {
  width: 12.5%;
  height: 89%;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 81.25%;
}