body {
    background-color: black;
    font-family: monospace;
    font-size: 15px;
}

p {
  color: green;
}

h1, h2 {
  color: purple;
}

a {
  color: coral;
}

/*this part is stolen from insect.christmas/styles.css */
video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

table, th, td {
  border: 3px solid green;
}